/* --- Font Declarations --- */
@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/KalamehWeb-Regular.woff2') format('woff2'),
         url('/fonts/Kalameh-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}